.ModalBackProject {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 730px;
    height: 930px;
    opacity: 1;
    border-radius: 9px;
    
    overflow-y: auto;
  }

.OverlayBackProject {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 52, 52, 0.274);
}

@media (max-width: 900px){
  .ModalBackProject {
    width: 333px;
    height: 900px;
    top: 50%;
    
    overflow-y: auto;
  } 
}